
.post-foot{
  /* // 文字 */
  text-shadow: 1px 1px 0px #eeeeee;
  /* // 边距 */
  padding: 1.5rem;
  margin: 1rem ;
  /* //边框 */
  border-bottom: none;
  border: 1px solid #dcdcdc;    
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  -moz-box-shadow: inset 0px 1px 0px 0px #eeeeee;
  -webkit-box-shadow: inset 0px 1px 0px 0px #eeeeee;
  box-shadow: inset 0px 1px 0px 0px #eeeeee;
  /* // 背景 */
  /* background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aad2f0), color-stop(1, #8bc1ed) );
  background: -moz-linear-gradient( center top, #aad2f0 5%, #8bc1ed 100% );
  background-color: #AAD2F0; */
  background-color: #e0dfcc;
}
.post-foot h3 {
  border-bottom: 1px solid gray;
  font-size: 1.92rem;
  font-weight: bold;
  line-height: 180%;
  color: black;
}
.post-foot ul{
  padding-left: 2.5rem;
  padding-top: 0.5rem;
  padding-right: 2rem;
  
}

.post-foot ul li{
  list-style-type: square;
  color: black;
  font-size: 1.6rem;
    line-height: 220%;
}

.post-foot ul li *{
  color: orange;
}