.button input {
  border: 1px solid #d3d3d3;
  margin-top: 0;
  line-height: 1.4;
  padding: 0.4rem 0.3rem;
  background-color: #f5f4df;
  font-size: 1.4rem;
}
.button .hint{
  font-size: 1.5rem;
  color: grey;
}

.button .submit-button{
  margin: 3rem 0.5rem;
  width: 5rem;
  padding: 0.2rem 3rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.4;
  background: #e0dfcc;
  color: orange;
  text-shadow: 1px 1px 0px #eeeeee;
  border-radius: 5px;
}