
.page pre[class*="language-"]{
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  font-weight: 500;
  background-color: #f5f2f0;
  border-radius: 0.7rem;
  margin: 1rem 0.3rem;
  width: 95%;
  font-size: 1.4rem;
}

.page p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 180%;
  margin-left: 0.8rem;
}

/* .page h1, h2, h3 {
  padding-bottom: 1rem;
  margin-top: 3rem;
  border-bottom: 1px solid #d3d3d3;
} */

.page ul li {
  line-height: 30px;
  font-size: 1.6rem;
  margin-left: 0.8rem;
}

.page p>a {
  color: blue;
}

.page p>a>img {
  border-radius: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.25);
  max-width: 90%;
}
.page p code{
  display: inline-block;
  font-weight: 500;
  font-size: 1.7rem;
  background-color: pink;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
}

.page h2{
  font-size: 1.8rem;
  line-height: 220%;
  margin-left: 0.2rem;
  margin-top: 1.5rem;
}
.page h3{
  font-size: 1.7rem;
  margin-left: 0.4rem;
  margin-top: 1.5rem;
}