
.page pre[class*="language-"]{
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  /* border: none; */
  display: inline-block;
  font-weight: 500;
  /* background-color: #f5f2f0; */
  background-color: #f3f3e0;
  border-radius: 0.5rem;
  margin: 1rem 0.3rem;
  width: 92%;
  font-size: 1.4rem;
}
.page pre[class*="language-word"]{
  font-style: italic;
  line-height: 1.45;
  color: #383838;
  border:1px dashed #c1c1c1;
  border-radius: 0.5rem;
  background:#e0dfcc;
  display: block;
  word-wrap: break-word;
  word-break: break-all;
}
.page blockquote p a{
  color: #383838;
  font-size: 1.4rem;
}
.page blockquote {
  margin-bottom: 1.5rem;
}
.page p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 180%;
  margin-left: 0.8rem;
}

/* .page h1, h2, h3 {
  padding-bottom: 1rem;
  margin-top: 3rem;
  border-bottom: 1px solid #d3d3d3;
} */

.page ul li {
  line-height: 30px;
  font-size: 1.6rem;
  margin-left: 0.8rem;
}

.page p>a {
  color: blue;
}

.page p>a>img {
  border-radius: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.25);
  max-width: 90%;
}
.page p code,
.page ul li code{
  display: inline-block;
  font-weight: 500;
  font-size: 1.7rem;
  background-color: pink;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  /* text-shadow: 0 1px 1px snow; */
}

.page h2{
  font-size: 1.8rem;
  line-height: 220%;
  margin-left: 0.2rem;
  margin-top: 1.5rem;
}
.page h3{
  font-size: 1.7rem;
  margin-left: 0.4rem;
  margin-top: 1.5rem;
}
.page hr{
  /* border: gray; */
  /* border: none; */
  /* border-bottom: gray; */
  /* border: 1px solid grey; */
  border: none;
  border-bottom: 1px dashed #d3d3d3;
  margin: 1.5rem 1rem;
}