
.item-comment{
  margin: 1rem;
  padding: 0.5rem;
  border-bottom: 1px dashed #d3d3d3;
  line-height: 1.8;
}
.item-comment .author{
  color: #2B2B2B;
  font-size: 1.7rem;
  font-weight: 900;
  margin-bottom: 0.7rem;
}
.item-comment .author span{
  font-size: 1.6rem;
  font-weight: normal;
}
.item-comment .content{
  margin-left: 1rem;
    font-size: 1.5rem;
    line-height: 180%;

}
.item-comment blockquote {
  background-color: #e0dfcc;
  padding: 2rem;
  margin: 2rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  font-size: 0.9rem;
}
.item-comment blockquote pre {
  margin-left: -0.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}