.list-tag{
  margin: 3rem 1rem 1rem 1rem;
  border-radius: 1rem;
  width: auto;
  padding: 1rem;

  text-shadow: 1px 1px 0px #eeeeee;
  /* background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DEEBF7), color-stop(1, #9bd1fd) );
  background: -moz-linear-gradient( center top, #DEEBF7 5%, #DEEBF7 100% );
  background-color: #DEEBF7; */

  border: 1px solid #dcdcdc;  
  background-color: $background-grey;
}
.list-tag h2{
  margin: 0rem;
  border-color: gray;
}
.list-tag ul{
  margin: 1rem;
}
.list-tag ul li{
  font-size: 1.6rem;
  line-height: 1.8;
}
.list-tag ul li a{
  color: black;
}
.list-tag ul li a span{
  color:rgba(0, 0, 0, 0.5);;
  font-size: 1.4rem;
  font-weight: 100;
}
