.nav-foot{
  margin: 0 0rem;
  width: 100%;
  border-bottom: 1px solid gray;
}
.nav-foot .left{
  float: left;
  color: orange;
}
.nav-foot .right{
  float: right;
  color: orange;
}
.nav-foot a{
  color: orange;
  line-height: 220%;
  font-size: 1.8rem;
}
p.nav-foot:after{
  content: "";
  clear: both;
  display: block;

}