
body #header {
	/* // 边距 */
	margin: 1rem 1.5rem 1.5rem 2.5rem;
	/* // 宽高 */
	height: 3rem;
	max-width: 95%;
	/* // 边框 */
	border-bottom: 1px solid #d3d3d3;
}
body.pc #header{
	/* // 边距 */
	margin: 2rem;
	/* // 宽高 */
	height: 4rem;
}
body #header p {
	margin-top: 1rem;
	/* // 字体 */
	font-size: 1.8rem;
	color: #556677;
	line-height: 2rem;
}
body.pc #header p {
	margin-top: 0.9rem;
	line-height: 3rem;
}
#header a {
	color: orange;
}
  