.nav-foot{
  margin: 2rem 1rem;
  // width: 100%;
}
.nav-foot .left{
  float: left;
  background: $background-select;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.nav-foot .right{
  float: right;
  background: $background-select;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.nav-foot a{
  color: $link-orange;
  line-height: 150%;
  font-size: 1.6rem;
}
p.nav-foot:after{
  content: "";
  clear: both;
  display: block;

}