p{
    font-size: 1.6rem;
}
body .asset-nav{
    /* // 字体 */
    font-weight: bold;
    color: #FCB297;
    text-shadow: 1px 1px 0px #eeeeee;
    /* // 边距 */
    padding: 0.5em 0.5em;
    margin: 0.3em;
    /* // 圆角 */
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    /* // 边框阴影 */
    -moz-box-shadow: inset 0px 1px 0px 0px #eeeeee;
    -webkit-box-shadow: inset 0px 1px 0px 0px #eeeeee;
    box-shadow: inset 0px 1px 0px 0px #eeeeee;
    border: 1px solid #dcdcdc;
    /* // 背景 */
    /* background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aad2f0), color-stop(1, #8bc1ed) );
    background: -moz-linear-gradient( center top, #aad2f0 5%, #8bc1ed 100% );
    background-color: #aad2f0; */
    background-color: $background-grey;
  }
  body .entry-categories {
    display: inline-block;
    padding: 0.5rem 0.8rem;
  }
  body .entry-categories p {
    /* margin: 0.5rem  0.8rem; */
    line-height: 180%;
    font-size: 1.6rem;
  }
  body .entry-categories {
    float: left;
    width: 50%;
    display: inline-block;
  }
  body div.asset-nav .entry-categories a {
    color: $link-orange;
  }
  body .entry-location-mobile {
    display: inline-block;
    // text-align: right;
    float: right;
    padding-top: 0.2em
  }
  body.pc .entry-location-mobile {
    display: none;
  }
  body .entry-location-mobile a{
    margin: 0.7em 0.8em;
    line-height: 180%;
    font-size: 1.8rem;
    color: $link-orange;
  }
  body .asset-nav:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
  }
  body .entry-location{
      display: none;
  }
  body.pc .entry-location{
    display: block;
    width: 25rem;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.5rem 0.8rem;
  }
  body.pc .entry-location p{
      line-height: 180%;
	}
	body.pc .entry-location a{
		color: orange;
}