* {
  box-sizing: content-box;
}

html, body {
  font-family: Georgia, serif;
  background-color: #f5f5d5;
  font-size: 16px;
  /*font-size: 62.5%;*/
}

.container {
  margin: 0 auto;
  /*background-color: #f5f5d5;*/
  padding: 1em;
  width: 65%;
  min-width: 640px;
  max-width: 960px;
  height: auto;
  /*border: 1px solid #333;*/
}

.header {
  margin-top: 9px;
  font-size: 18px;
  line-height: 48px;
  color: #556677;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #999;
}

.header span {
  font-weight: normal;
  color: #556677;
}

.header {
  color: orange;
}

.search {
  float: right;
  position: relative;
  font-size: 14px;
}

.search input {
  width: 130px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #999;
  padding: 0px 10px;
  font-size: 14px;
  opacity: 0.7;
  transition: 0.7s all;
}

.search input:hover {
  opacity: 1;
  width: 150px;
}

.search i {
  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
}

.header .home-title:hover {
  font-weight: 700;
  text-decoration: none;
}

.category {
  background-color: #DEEBF7;
  padding: 10px;
  border-radius: 10px;
  width: auto;
  margin: 20px;
}

.category span {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.category-list {
  display: inline-block;
}

.category a {
  display: inline-block;
  margin-right: 15px;
  color: #4a75b5;
  line-height: 30px;
  padding: 0 5px;
  border-radius: 5px;
}

.category .selected {
  color: orange;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.2);
}

.tag-detail h2 {
  margin-top: 30px;
  border-bottom: 1px solid #d3d3d3;
  color: #000;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
}

.tag-detail li a {
  line-height: 30px;
}

.tag-detail li span {
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  clear: both;
  text-align: center;
  margin-top: 70px;
  line-height: 70px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
}

.footer a {
  color: orange;
}

@media(max-width:420px) {
  .container {
    width: 95%;
    padding: 0;
    min-width: 0px;
    overflow: hidden;
  }
  .header {
    margin: 0 10px;
    width: auto;
  }
  .search {
    display: none;
  }
}
