
// style one
$background-color: #f5f5d5;
$background-grey: #e0dfcc;
$background-select: rgba(27,31,35,0.1);
$background-input:#f5f4df;
$background-code: #f3f3e0;

$link-orange: orange;
$link-green: #159957;
$link-red: #159957;

$grey: rgba(0, 0, 0, 0.5);
$grey-meta: #556677;

$code: pink;


$header-color: #159957;


$background-button: orangered;
$text-color: white;
// style two

$background-color: #fafbfc;
$background-grey: #f6f8fa;
$background-select: rgba(27,31,35,0.1);
$background-input:#f6f8fa;
$background-code: $background-grey;

$link-orange: #0366d6;
$link-green: #0366d6;
$link-red: #0366d6;


$grey: rgba(0, 0, 0, 0.5);
$grey-meta: #556677;

$code:rgba(27,31,35,0.1);

$header-color: #159957;
$background-button: orangered;
$text-color: white;